
@import url('https://fonts.googleapis.com/css?family=Lato:700');

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #18022c;
 
}
.portfolio-bg {
  background-image: linear-gradient(to top, rgb(24,2,44),rgba(24,2,44,0.7),rgb(255, 255, 255, 0.6)),
  /*background-image: linear-gradient(to top, rgb(103, 91, 2),rgba(115, 102, 45, 0.7),rgb(255, 255, 255, 0.6)),*/
  url(../images/Pressed-Cardboard-BC.jpg);
 
  
}



.offset:before {
  display:block;
  content: "";
  height:64px;
  margin-top: -64px;
}

/* Navigation */

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 3px;
  background: rgba(30, 1, 57,0.85)!important;
}

.navbar-brand {
  /*height: 5px;*/
  font-size: 30px;
}

.navbar-nav li {
  padding-right: 22px;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: 14px;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #22A2F2;
  text-shadow:  0 0 10px white, 0 0 5px darkblue;
}
/*navbar end*/

/* landing page start */
.home-inner {
  background-image: url("../images/Pressed-Cardboard-BC.jpg");
}

#home {
  background-image: linear-gradient(to top, rgb(24,2,44),rgba(24,2,44,0.7),rgb(255, 255, 255, 0.6));
  
 /* background-image: linear-gradient(to top, rgb(103, 91, 2),rgba(115, 102, 45, 0.7),rgb(255, 255, 255, 0.6));*/
}
#Brian {
  position: absolute;
  z-index: 1;
}

.caption {
  padding: 100px;
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: white;
  text-transform: uppercase;
}

.caption h1 {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 5px;
  text-shadow: 2px 2px 22px black;
  padding-bottom: 1px;
}

.caption h4 {
  font-size: 28px;
  text-shadow: 2px 2px 22px black;
  padding-bottom: 25px;
}

.btn-lg {
  border-width: medium;
  border-radius: 0;
  padding: 9px 21px;
}



/*============= COURSE SECTION =============*/
.narrow {
  width: 75%;
  margin: 25px auto;
  padding-top: 35px;
}

.narrow h1 {
  font-size: 45px;
}

.btn-secondary {
  border-width: medium;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 22px;
  padding: 8px 18px;
  margin: 16px;
  color: white;
  background-color: #18022c;
  border-color: #18022c;
}

.btn-secondary:hover {
  background-color: #22A2F2;
  border-color: #22A2F2;
}

/*features*/
.jumbotron {
  margin-bottom: 0;
  padding: 32px 0 0 0px;
  border-radius: 0px;
}

h3.heading {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.heading-underline {
  width: 48px;
  height: 4px;
  background-color: #22A2F2;
  margin: 0 auto 32px;
}

.feature svg.svg-inline--fa {
  color: #22A2F2;
}

.feature h5 {
  margin-top: 10px;
  font-size: 21px;
  text-transform: uppercase;
  padding-bottom:20px;
}

.feature p {
  font-size: 18px;
  /*text-align: justify;*/
}

.col-md-3 {
  padding: 32px;
}

/* Resources */
.fixed {
  background-image: url("../images/laptop-1483974_1920.jpg");
  z-index: -1;
}
.dark {
  background-color:rgba(24,2,44, 0.75);
  /*background-color: rgba(164, 145, 6, 0.75);*/
  color: white;
  padding: 111px 36px;
}
.fixed-background h3 {
  margin-bottom: 26px;
}

/* Clients */
blockquote .svg-inline--fa {
  color: #18022c;
  margin: 16px;
}
.clients-hr {
  border-top: 3px solid #18022c;
}

.clients img {
  width: 100%;
  border-radius: 50%;
}

/* contact */

footer {
  background-color: #18022c;
  color: white;
  padding: 36px 0 36px;
  margin-top: 22px;
}

footer P {
  margin-top: 25px;
}

footer a {
  color: white;
}

footer svg.svg-inline--fa {
  font-size: 40px;
  margin: 22px 8px 0 0;
}

footer svg.svg-inline--fa:hover {
  color: #22A2F2!important;
}

hr.socket {
  width: 100%;
  border-top: 3px solid #22A2F2; 
}

/*footer img {}*/

/* media query */
@media (max-width: 767px) {
  .caption h1 {
    font-size: 48px;
    letter-spacing: 2px;
    padding-bottom: 1px;
  }
  
  .caption h4 {
    font-size: 18px;
    padding-bottom: 18px;
  }
  
  .btn-lg {
    padding: 8px 16px;
    font-size: 16px;
  }

  .narrow h1 {
    font-size: 21px;
  }
}

  @media (max-width: 500px) {
    .caption h1 {
      font-size: 24px;
    }
    .btn-secondary {
      width: 100%;
      font-size: 90%;
    }
    p {
      font-size: 12px;
    }
}

 /* .clients img {
    max-width: 50%;
    display: block;
    margin: 0 auto;
  }*/


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
